@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --font-primary: 'DM Sans', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  background-color: hsl(0, 0%, 93%);
}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 0.9;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.1125rem;
  line-height: 0.9;
  padding-block: .625rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  padding-block: .625rem;
}

p {
  padding-block: .3125rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.container {
  display: grid;
  padding: 2rem 1rem;
  gap: 2.5rem;
}

.w-full {
  width: 100%;
}

.bg-purple {
  background-color: var(--purple-500);
}

.bg-light-purple {
  background-color: var(--purple-100);
}

.bg-yellow {
  background-color: var(--yellow-500);
}

.bg-light-yellow {
  background-color: var(--yellow-100);
}

.bg-white {
  background-color: var(--white);
}

.font-weight-light {
  font-weight: 500;
}

.text-white {
  color: var(--white);
}

.text-muted {
  color: hsla(0, 0%, 100%, 0.8);
}

.text-yellow {
  color: var(--yellow-500);
}

.text-purple {
  color: var(--purple-500);
}

.text-center {
  text-align: center;
}

.fluid {
   border-radius: .625rem;
   padding: 1.875rem 2.1875rem;
}

.min-fluid {
  border-radius: .625rem;
  padding: .625rem .9375rem;
}

.img__five-stars {
  width: 100%;
  display: block;
  margin: .9375rem auto 0;
}

.img__multiple-platforms {
  width: 100%;
  height: auto;
  margin-inline: auto;
  display: block;
  background-color: var(--white);
}

.img__consistent-schedule {
  width: 100%;
  height: auto;
  margin-bottom: -0.9375rem;
}

.img__schedule-posts {
  width: 100%;
  height: auto;
}

.img__grow-followers {
  width: 15.625rem;
  height: auto;
  margin-bottom: 1.875rem;
}

.img__audience-growth {
  width: 9.375rem;
  height: auto;
  margin: .625rem 0;
}

.img-create-post {
  width: 12.5rem;
  height: auto;
  margin: .625rem 0;
}

.img__ai-content {
  width: 12.5rem;
  height: auto;
  margin-block: .625rem;
}

.p-10 {
  padding: .625rem;
}

.p-20 {
  padding: 1.25rem;
}

.p-30 {
  padding: 1.875rem;
}

.p-block-10 {
  padding-block: .625rem;
}

.p-inline-40 {
  padding-inline: 2.5rem;
}

@media (width <= 48rem) {
  .container {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
}

@media (width >= 64rem) {
  
}




