@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --font-primary: 'DM Sans', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  background-color: hsl(0, 0%, 93%);
}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 0.9;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.1125rem;
  line-height: 0.9;
  padding-block: .625rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  padding-block: .625rem;
}

p {
  padding-block: .3125rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.container {
  display: grid;
  padding: 2rem 1rem;
  gap: 2.5rem;
}





